
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnAuthorized</h2>

<h3>Bu sayfaya giriş yetkiniz bulunmamaktadır! Sayfaya girebilmeniz gerektiğiniz düşünüyorsanız sistem yöneticinize başvurunuz!</h3>

@Html.ActionLink("Anasayfa'ya Dön", "Index", "Home")