
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>Detail</b>
<br />
<br />

Hoşgeldiniz @Session["KullaniciAdi"]
<br />

<h5>@ViewBag.Message</h5>
<h5>@ViewData["Message2"]</h5>
<h5>@TempData["Message3"]</h5>