
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div><b>İşleminiz başarıyla tamamlanmıştır...</b></div>

<p>
    @Html.ActionLink("Anasayfa", "Index", "Ogrenci")
</p>

