@{
    ViewBag.Title = "About";
}

    <div style="padding:10%;">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>

        <br /><br />

        <input type="button" onclick="showMessage();" value="Mesajı Görüntüle" />
        <input type="button" onclick="MyScriptsTest();" value="MyScriptsTest'i tetikle" />
    </div>
