
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Index</h2>

        @Html.ActionLink("Calisanlar Sayfasına Git", "Calisanlar", "Selector") <br />

        @Html.ActionLink("Kampanyalar Sayfasına Git", "Kampanyalar", "Selector") <br />

        @Html.ActionLink("Detail Sayfasına Git", "Detail", "Selector") <br />
    </div>
</body>
</html>
