@model _01_PartialView.Models.ProductListModel

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @if (Model != null && Model.ProductList != null && Model.ProductList.Count > 0)
    {
        foreach (var product in Model.ProductList)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">Hiç ürün bulunmadı...</td>
        </tr>
    }

</table>
