@model _01_BosSablon.Models.ProductModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDetail</title>
</head>
<body>
    <div>
        <h2>Product Detail</h2>
        Ürün detay bilgileri vs.. <br /><br />

        Id: @Model.Id <br />
        Name: @Model.Name <br />
        Price: @Model.Price <br />
    </div>
</body>
</html>
