@model List<_01_JQueryVeAjaxKullanimi.Models.PersonelModel>
    <table>
        <tr>
            <th>Id</th>
            <th>NameSurname</th>
        </tr>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var personel in Model)
            {
                <tr>
                    <td>@personel.Id</td>
                    <td>@personel.NameSurname</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">Hiç kayıt bulunamadı</td>
            </tr>
        }
    </table>
